apiVersion: v1
kind: Service
metadata:
  name: k8s-webapp-ext
  labels:
    app: k8s-webapp
spec:
  type: LoadBalancer  
  selector:
    app: k8s-webapp
  ports:
    - port: 8080
      name: p1
---
apiVersion: v1
kind: Service
metadata:
  name: k8s-webapp
  labels:
    app: k8s-webapp
spec:
  type: ClusterIP
  selector:
    app: nexus
  ports:
    - port: 8080 
      protocol: TCP
      targetPort: 8080
      name: p1

---
apiVersion: apps/v1
kind: Deployment
metadata:
   name: k8s-webapp
spec:
  selector:
    matchLabels:
      app: k8s-webapp   
  replicas: 1
  template:
    metadata:
      labels:
        app: k8s-webapp
    spec:
      containers:
      - name: k8s-webapp
        image: astoupin/k8s-webapp
        ports:
        - containerPort: 8080
      imagePullPolicy: Always
      imagePullSecrets:
        - name: regcred        
---
apiVersion: v1
kind: ConfigMap
data:
  k8s-webapp-dev.properties: |
     env=dev
  k8s-webapp-prod.properties: |
     env=prod
     
     
#Patch deployments
#kubectl patch deployment k8s-webapp -p \
#  "{\"spec\":{\"template\":{\"metadata\":{\"annotations\":{\"date\":\"`date +'%s'`\"}}}}}"
