apiVersion: v1
kind: Service
metadata:
  name: k8s-webapp
  labels:
    app: k8s-webapp
spec:
  selector:
    app: k8s-webapp
  ports:
    - port: 8080
      name: p1
  type: LoadBalancer  
---
apiVersion: v1
kind: Service
metadata:
  name: k8s-webapp
  labels:
    app: k8s-webapp
spec:
  selector:
    app: nexus
  type: ClusterIP
  ports:
    - port: 8080 
      protocol: TCP
      targetPort: 8080
      name: p1


apiVersion: apps/v1
kind: Deployment
metadata:
   name: k8s-webapp
spec:
  selector:
    matchLabels:
      app: k8s-webapp   
  replicas: 1
  template:
    metadata:
      labels:
        app: k8s-webapp
    spec:
      containers:
      - name: k8s-webapp
        image: astoupin/k8s-webapp
        ports:
        - containerPort: 8080


